#content-area{
  overflow: auto;
  margin: 0 auto;
  max-width:1500px;
  justify-content: center;
}

#filter{
  background: $grey;

  h4{
    font-size: 1.0rem;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 500px;
  }

  select{
    background: transparent;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 5px;
    font-weight: 500;
    color: #1b1b1b;
    display: block;
    margin-bottom: 25px;
    width: 100%;

    option{
      color: black;
    }

  }

  .filters{
    .title{
      font-size: 0.9rem;
      display: block;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1.0rem;
      margin-bottom: 1rem;
      color: $darkgrey;
    }
    input[type="text"] {
      border-radius: 5px;
      font-size: 1rem;
      padding: 0.2rem;
      width: 45%;
      display: inline-block;
      margin-right: 2.5%;
      margin-bottom: 1rem;
    }

    &.extras{
      label{
        display: block;
        width: 100%;
        padding: 10px 0;

        input[type="checkbox"]{
          float: right;
        }
      }
    }
  }

}

#listings{
  
  background: $offwhite;

  .search-area{
    input[type="text"]{
      width: 500px;
      background: transparent;
      font-size: 1.2rem;
      border: none;
      border-bottom: 2px solid $darkgrey;
      margin-bottom: 25px;
      color: $lightgrey;
      padding: 5px;
    }
  }

  .sortby-area {
    margin-bottom: 20px;
    width: 100%;

    .results {
      color: $lightgrey;
      font-size: 1rem;
      display: inline-block;
      padding: 5px;
    }
    .sort-options{
      float: right;
      .sortby{
        font-size: 0.9rem;
        font-weight: 300;
        border: 1px solid $lightgrey;
        background: transparent;
        padding: 2px;
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
      }
      .view{
        display: inline-block;
        padding: 5px;
        i{
          margin-right: 15px;
          font-size: 1.3rem;
        }
      }
    }
  }

  .listings-results{
    margin-bottom: 60px;
    
    .listing{
      background: #ffffff;
      border-radius: 5px;
      -webkit-box-shadow: 0px 9px 54px -4px rgba(224, 224, 224, 1);
      -moz-box-shadow: 0px 9px 54px -4px rgba(224, 224, 224, 1);
      box-shadow: 0px 9px 54px -4px rgba(224, 224, 224, 1);
      width: 300px;
      .listing-img{
        color: white; 
        padding: 15px;
        position: relative;
        width: 300px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 200px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: all 0.4s ease-in-out;
        
        &:hover{
          .details{
            opacity: 1;
          }
          .address{
            opacity: 0;
          }
        }
        .address{
          font-size: 1.3rem;
          text-transform: capitalize;
          position: absolute;
          bottom: 20px;
          opacity: 1;
          transition: all 0.4s ease-in-out;
          text-shadow: 0px 1px 4px rgba(91, 91, 91, 1);
        }
        .details{
          transition: all 0.4s ease-in-out;
          opacity: 0;
          padding: 20px;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5d00ea+1,b341e0+100 */
          background: rgba(93, 0, 234, 0.8);
          /* Old browsers */
          background: -moz-linear-gradient(-45deg, rgba(93, 0, 234, 0.8) 1%, rgba(179, 65, 224, 0.8) 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(-45deg, rgba(93, 0, 234, 0.8) 1%, rgba(179, 65, 224, 0.8) 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(135deg, rgba(93, 0, 234, 0.8) 1%, rgba(179, 65, 224, 0.8) 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5d00ea', endColorstr='#b341e0', GradientType=1);
          /* IE6-9 fallback on horizontal gradient */
          -webkit-border-top-left-radius: 5px;
          -webkit-border-top-right-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topright: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          .user-img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid white;
            display: inline-block;
            background: url("/img/bg.jpg") no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }
          .user-details{
            display: inline-block;
            vertical-align: top;
            width: 70%;
            margin-left: 10px;
            .user-name{
              font-size: 0.9rem;
              font-weight: 300;
              display: block;
              color: rgba(255, 255, 255, 1);
            }
            .post-date{
              display: block;
              color: rgba(255, 255, 255, 0.7);
            }
          }
          .listing-details{
            padding: 20px;
            font-size: 0.9rem;
            .floor-space{
              margin-bottom: 5px;
              .fa{
                display: inline-block;
                margin-right: 15px;
              }
              span{
                font-weight: 300;
                display: inline-block;
                vertical-align: top;
                position: relative;
                top: 3px;
              }
            }
            .bedrooms{
              margin-bottom: 5px;
              .fa{
                display: inline-block;
                margin-right: 15px;
              }
              span{
                font-weight: 300;
                display: inline-block;
                vertical-align: top;
                position: relative;
                top: 3px;
              }
            } 
          }
          .view-btn{
            background: black;
            padding: 5px;
            font-size: 0.9rem;
            border-radius: 5px;
            text-align: center;
            width: 60%;
            margin-left: 20%;
            max-width: 150px;
            transition: background 0.2s ease-in-out;
            &:hover{
              background: $pink;
              cursor: pointer;
            } 
          }
        }
      }

      .bottom-info{
        padding: 10px 10px;
        .price{
          font-size: 1.0rem;
          display: block;
          margin-bottom: 5px;
          color: darkgrey; 
        }
        .location{
          font-size: 1rem;
          display: block;
          color: $lightgrey;
          .fa{
            margin-right: 5px;
          }
        }
      }
    }
  }
}

#pagination{
  text-align: center;
  .pages{
    padding: 0;
    display: inline-block;
    margin: 0 auto;
    background: white;
    -webkit-box-shadow: 0px 9px 54px -4px rgba(224, 224, 224, 1);
    -moz-box-shadow: 0px 9px 54px -4px rgba(224, 224, 224, 1);
    box-shadow: 0px 9px 54px -4px rgba(224, 224, 224, 1);
    li{
      display: inline-block;
      padding: 20px 30px;
      &:hover,
      &.active {
        color: white;
        font-weight: 700;
        background: $pink;
        cursor: pointer;
      }
    }
    
  }
}


.col-md-3{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 0px 15px;
}

.col-md-9{
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

.col-lg-6{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
}