header {
    background: $darkpurple;
    color: white;
    overflow: auto;
    padding: 20px 100px;

    .logo {
        float: left;
        font-size: 20px;

        a {
            color: white;
            text-decoration: none;
        }
    }

    nav {
        float: right;

        a {
            color: white;
            text-decoration: none;
            padding: 10px 25px;
            text-transform: capitalize;
            font-weight: 300;
            font-size: 0.9rem;

            &:hover {
                color: $pink;
            }

            &.register-btn {
                background: $pink;
                padding: 10px 25px;
                text-align: center;
                color: white;
                border-radius: 5px;
            }
        }
    }
}
.heading{
  background: $darkpurple;
  color: white;
  overflow: auto;
  padding: 0px 100px;
}

